

<h3>Form Validation</h3>
<form  #f="ngForm">
  <div>
  Name:
  <input type="text" name="firstname"  [(ngModel)]="firstname" #en="ngModel"  class="form-control" minlength="4" maxlength="8" [class.is-invalid]="firstname.invalid && firstname.touched"  pattern="[a-z]{4-8}" required><br>
 <div *ngIf="firstname.touched">This field is not touched</div>
 <div *ngIf="!firstname.touched">This field is touched</div>
 <div *ngIf="firstname.invalid">Invalid</div>
 <div *ngIf="!firstname.invalid">valid</div>
 <div *ngIf="en.errors.minlength">Requires more than 4 characters</div>
 <div *ngIf="en.errors.maxlength">length is more than 8 characters</div>
  Email:
  <input type="text" name="email"   [(ngModel)] = "email" class="form-control"  pattern="[A-z a-z]+[0-9]+[@!#$%^&]?[a-z]+/.[a-z]{2-3}]"><br><Br>
  <input type="Submit" name="submit" value="submit"> 
  
  {{f.value | json}}
  </div>
</form>
