.container-fluid{

    width:50vw;
}

#box{

    margin-left:10vw;
}






#line{
    margin-left: 16vw;
    margin-top:-2vw;
}
#submit{

    margin-left: 10vw;
    margin-top:2vw;
    width:250px;
    height:40px;
}